<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Preferencias - Sueños Valenti</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="<%= tema %> preferencias">
    <h1>Preferencias</h1>

    <p>Tema actual: <%= tema %></p>
    <p>
    <ul>
      <li><a href="/tema/claro">Tema claro</a></li>
      <li><a href="/tema/oscuro">Tema Oscuro</a></li>
      <li><a href="/borrar-tema">Borrar tema</a></li>
  </ul></p>

    <p><a href="/">Volver</a></p>
  </body>
</html>
